:root {
    --grid-cols: auto;
    --grid-rows: autos;
  }
  .calculator{
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: aquamarine  ;
  }
  .digitos {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
    /*box-shadow: 0.4em -0 .4em gray, -0.4em 0 .4em gray;*/
  }
  .operatorGrid {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
    /*cursor: pointer;
    box-shadow: 0.4em -0 .4em gray, -0.4em 0 .4em gray;*/
  }
  .buttons{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .grid-item,
  .operators,
  .result {
    display: flex;
    margin: 2px;
    width: 120px;
    height: 50px;
    border: 1px solid black;
    /*padding: 1em;*/
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: gray;
    font-size: x-large;
  }

  .grid-item:hover,
  .operators:hover{
    scale: 1.05;
  }

  .result {
    width: 486px;
    height: 60px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: xx-large;
  }