:root {
    --grid-cols: auto;
    --grid-rows: autos;
  }
  .calculator{
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: aquamarine  ;
  }
  .digitos {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
    /*box-shadow: 0.4em -0 .4em gray, -0.4em 0 .4em gray;*/
  }
  .operatorGrid {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
    /*cursor: pointer;
    box-shadow: 0.4em -0 .4em gray, -0.4em 0 .4em gray;*/
  }
  .buttons{
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }
  .grid-item,
  .operators,
  .result {
    border: 1px solid black;
    /*padding: 1em;*/
    text-align: center;
    background-color: gray;
  }